/* 
    backgorund: #004B75
    foreground: #E6E6E6
    secondary: #39B54A
*/

.header{
    
    position: fixed;
    top: 0;
    
    color: #004B75;
    background-color: #ffffff;

    z-index: 10;
}

/* 
    MOBILE
*/
@media (max-width:35em){
    .header{

        display: flex;
        padding: .5em;

        width: 100%;
        height: 2.7em;
         
        background-color: #39B54A;

        .img{
            width: fit-content;
            height: fit-content;

           
            img{
                width: 2em;
            }
        } 

        .navigation {

            padding: min(20vh, 10rem) 0;
            text-align: center;

            position: fixed; 
            inset: 0 0 0 30%;
            
            box-shadow: -3px 5px 6px #39B54A;
        
            transform: translateX(100%);
            transition: transform 350ms ease-in;

            z-index: 100;
            /* background-color: hsl(231, 15%, 18%); */
            /* backdrop-filter: blur(.09rem); */
            overflow-x: hidden;
            
            background-color: #39b54afd;
            
            ul{
                display: flex;
                flex-direction: column;
                justify-content:space-evenly;
                gap: .9em;

                padding-right: 2em;
                li{

                    text-align: right;
                    color: #ffffff;
                }
            }
               
        }

        .navigation.active {
            transform: translateX(0%);

          }

        .btn-toogle-mobile-nav{
            display: block;
            z-index: 9999;
            background-color: transparent;
            background-image: url('../../assets/icon-humburger-menu.svg');
            background-repeat: no-repeat;
            
            width: 1.9rem;
            border: 0;
            aspect-ratio: 1;
            right: .7em;
            position: absolute;
            top: .7rem;
        }
        
        .btn-toogle-mobile-nav[aria-expanded="true"] {
            background-image: url('../../assets/icon-close.svg');
            /* background-color: red;  */
        }
        
    }
}


@media (min-width:35em){

    .header{
        display: flex;
        flex-direction: row;
        justify-content:space-between;

        padding: .7em 2em;

        width: 100%;
        height: 3.2em;

        border-bottom: 1px #004B75 solid;
        img{
            
            width: 8em;
        } 

       

        nav ul{
            display: flex;
            flex-direction: row;
            justify-content:space-evenly;
            gap: 2em;

            li{
                padding: .3em .7em;
            }
            li:hover{
                color: #ffffff;
                background-color: #2D8633;

                transition-timing-function: ease-out; 
                transition: 0.5s;
            }
        }

        .btn-toogle-mobile-nav{
            display: none;
        }


    }
}


