/* 
    backgorund: #662D91
    foreground: #E6E6E6
*/

.frame-job-details{
    margin-top: 3em;
}
/* 
    M O B I L E
*/
@media (max-width:35em){

    .frame-job-details{
        display: flex;
        flex-direction: column;
        gap: 2em;


        h4,h5,p, li{
            /* text-align: center; */
        }

        h4{
            /* font-size: 1.3rem; */
            font-weight: bold;
        }
        
        h2{
            color: #662d91;
            font-size: 2rem;
            span{
                font-weight: bold;
            }
        } 

        .job-details-container{
            display: flex;
            flex-direction: column;

            padding-left: .5em;
            padding-right: .5em;
            section{
                /* margin-left: .5em;
                margin-right: .5em; */
                color:#e6e6e6;
                background-color: #2D8633;
                padding: .5em .7em;
            }
            
            .job-header{
                margin-top: .9em;
                
                .job-header-details{
                    
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .job-header-img-container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: .5em;
                        
                        img{
                            height: 7em;
                        }
                    }
        
                    .job-info{
                        
                        /* padding: 2em .5em; */
                        p{                           
                            span{
                                font-weight: bold;
                            }
                        }
                    }
                }
        
                .job-header-about{
                   margin-top: .7em;
                    h5{
                        font-weight: bold;
                    }
                }
            }

            .job-qualification-skill{
                h4{
                    margin-top:left;
                }
                ul{
                    li{
                        
                    }
                }
                .job-qualification{
                    
                    margin-bottom: 2em;
                }
                
                .job-skill{
                    border-top: 1px #662d91 solid;
                    /* padding-top: 2em; */
                }
                
            }
    
            .latest-jobs-container{
                border-top: #662d91 1px solid;
            }

        }
        
        

    }
}

/* 
    backgorund: #662D91
    foreground: #E6E6E6
*/

@media (min-width:35em){

    .frame-job-details{
        display: flex;
        flex-direction: column;
        gap: 2em;


        h4,h5,p, li{
            text-align: left;
        }

        section{
            color:#e6e6e6;
            background-color: #662d91;
            padding: 1.5em 7em;
        }
    
        h4{
            /* font-size: 1.3rem; */
            font-weight: bold;
        }
        
        h2{
            color: #662d91;
            font-size: 2rem;
            border-bottom: solid 1px #662d91;
            padding-bottom: .3em;
            span{
                font-weight: bold;
            }
        } 

        .job-details-container{

            .job-header{

                margin-top: 1.2em;
                .job-header-details{
                    
                    width: 80%;
                    display: flex;
                    flex-direction: row;

                    .job-header-img-container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: .5em;
                        
                        img{
                            height: 7em;
                        }
                    }
        
                    .job-info{
                        
                        /* padding: 2em .5em; */
                        p{
                            color: #e6e6e6;
                            span{
                                font-weight: bold;
                            }
                        }
                    }
                }
        
                .job-header-about{
                    width: 70%;
                }
            }
        }
        
        .job-qualification-skill{
            h4{
                margin-top:left;
            }
            ul{
                li{
                    list-style: circle;
                    
                }
            }
            .job-qualification{
                
                margin-bottom: 2em;
            }
            
            .job-skill{
                border-top: 1px #e6e6e6 solid;
                padding-top: 2em;
            }
            
        }
        .latest-jobs-container{
            border-top: #662d91 1px solid;
        }
    }
}


