/* 
    backgorund: #004B75
    foreground: #E6E6E6
*/


.frame-jobs{            
    

    .job-container{
        display: flex;
        justify-content: space-evenly;

        .job-card{
            color: #e6e6e6;
            background-color: #2D8633;

            width: fit-content;
            padding: 1em;

            .job-card-header{

            }

            .job-card-body{
                text-align: left;
                .img-logo{
                    display: flex;

                    height: auto;
                    width: 100%;
                    background-color: #ffffff;

                    padding: .6em;
                    img{
                        margin: auto;
                        width: fit-content
                    }  
                }                  
            }

            .job-card-footer{
                div{
                    font-size: .8rem;
                    text-align: left;
                }
                
                .btn-mobile{
                    display: none;

                    .btn{
                        border-radius: 4px;
                        background-color: #e6e6e6;
                    }
                }
                
            }
        }
    }
}

/* 
    MOBILE
*/
@media (max-width:35em){

    .frame-jobs{
        h4{
            color: #004B75;
            font-size: 1.2rem;
        }

        .job-container{
            flex-flow: wrap;
            gap: .7em;
            
            padding-left: .5em;
            padding-right: .5em;

            .job-card{
                width: 100%;
                
                color: #e6e6e6;
                background-color: #004B75;
                .job-card-header{

                }

                .job-card-body{
                    .img-logo{
                       
                        img{
                           
                        }  
                    }                  
                }

                .job-card-footer{
                    div{
                        font-size: .8rem;
                        text-align: left;
                    }
                    
                    .btn-mobile{
                        /* display: block; */

                        .btn{
                            border-radius: 4px;
                            background-color: #e6e6e6;
                        }
                    }
                    
                }
            }
        }
    }

}


@media (min-width:35em){

    .frame-jobs{
        
        
        h4{
            text-align: center;
            color: #004B75;
            font-size: 1.7rem;
        }
        .card-grow {
            transition: all 0.2s ease-in-out;       
        }

        .card-grow:hover {
            transform: scale(1.05);
        }   

        .job-container{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: .5em;

            padding-left: 2em;
            padding-right: 3em;

            margin-top: 1.2em;
            .job-card{
                color: #e6e6e6;
                background-color: #004B75;
                max-width: 16em;

                .job-card-header{

                }
              
                .job-card-body{
                    .img-logo{
                       
                        img{
                           
                        }  
                    } 
                    .job-info:hover{
                        color: chartreuse
                    }                 
                }


                
            }
        }
    }

}